/*------------------------------------*\
  $BOX
\*------------------------------------*/

.box {
  border-top: 1px dashed lighten($terciary, 20%);
  border-bottom: 1px dashed lighten($terciary, 20%);
  padding: 40px 0px;
  &.job-detail {
    .main-title {
      margin: 0px 0px 20px 0px;
    }
  }
  @include media-query(palm) {
    padding: 20px;
  }
}