/*------------------------------------*\
  $BUTTONS
\*------------------------------------*/

.button {
  padding: 15px 20px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-weight: $bold;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  &:hover {
    opacity: .8;
    color: #fff;
  }
}

.button-primary {
  background: $primary;
  border: 1px solid darken($primary, 10%);
}

.button-secondary {
  background: $secondary;
  border: 1px solid darken($secondary, 10%);
}

.simple-link {
  text-transform: uppercase;
  .text {
    vertical-align: middle;
  }
  .icon {
    vertical-align: middle;
  }
  &:hover {
    color: lighten($primary, 30%);
  }
}

.button-group {
  border-top: 1px dashed $terciary;
  padding: 40px 0px;
  @include clearfix ();
  .button-secondary {
    float: right;
  }
  @include media-query(palm) {
    .button {
      display: block;
      margin: 0px 0px 20px 0px;
      float: none;
    }
  }
}