/*------------------------------------*\
  $FOOTER
\*------------------------------------*/

.main-footer {
  background: $primary;
  padding: 35px 0px;
  @include clearfix();
  // text-align: center;
  padding-bottom: 20px;
  .social-icons {
    text-align: center;
    float: right;
    a {
      display: inline-block;
      padding-right: 10px;
      color: $text;
      .icon {
        display: inline-block;
        border: 1px solid $text;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        &:hover {
          background: lighten($primary, 5%);
        }
      }
    }
  }
  .footer-info {
    a {
      margin-bottom: 10px;
      color: $grey;
    }
    .contact {
      display: inline-block;
      &:before {
        content: "\e60b";
        font-family: "icomoon";
        margin: 0px 10px;
        color: $secondary;
      }
    }
    .feed {
      color: #fff;
      margin-bottom: 10px;
      .icon {
        color: $secondary;
      }
    }
  }
  .copy {
    color: #fff;
  }
  @include media-query(palm) {
    padding-top: 20px;
    .social-icons {
      float: none;
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
    .footer-info {
      text-align: center;
      a {
        display: block;
      }
    }
  }
}
