/*------------------------------------*\
  $GENERAL
\*------------------------------------*/

.centered-slab {
  text-align: center;
  padding: 40px 0px;
}

.right-slab {
  text-align: right;
  padding: 40px 0px;
}

