/*------------------------------------*\
  $HEADER
\*------------------------------------*/

.main-header {
  background: $primary;
  padding: 30px 0px;
  .wrapper {
    @include clearfix();
    position: relative;
  }
  .logo {
    text-transform: uppercase;
    font-weight: $bold;
    font-family: $fontSecondary;
    a {
      color: #fff;
    }
  }
  .search-form {
    @include vertical-align(absolute);
    right: 0px;
    .search-group {
      background: lighten($primary, 10%);
      border-radius: 3px;
      padding: 5px;
      input {
        width: 84%;
      }
      .icon {
        color: #fff;
        padding: 0px 5px;
      }
    }
    input {
      border: none;
      background: lighten($primary, 10%);
      color: #fff;
    }
   ::-webkit-input-placeholder {
       color: #fff;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: #fff;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: #fff;  
    }
    :-ms-input-placeholder {  
       color: #fff;  
    }
  }
  @include media-query(palm) {
    padding: 20px;
    .logo {
      text-align: center;
    }
    .search-form {
      display: block;
      position: static;
      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
      margin-top: 10px;
    }
  }
}
