/*------------------------------------*\
  $HERO
\*------------------------------------*/

.hero {
  // background: url(/assets/images/pattern.png);
  padding: 60px 0px;
  position: relative;
  @include clearfix();
  position: relative;
  margin-bottom: 20px;
  .hero-mask {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
    // background: rgba(146,177,173, .7);
    background: $terciary;
  }
  .hero-content {
    float: left;
    width: 50%;
    z-index: 2;
    position: relative;
    .subtitle {
      margin-bottom: 20px;
      @include fontSize(29);
      font-weight: 100;
      // color: #fff;
    }
    .alpha {
     text-transform: uppercase;
     @include fontSize(40);
     margin: 0px 0px 10px 0px;
     padding-top: 0px;
    }
    .button {
      margin-top: 20px;
    }
  }
  .hero-image {
    z-index: 2;
    position: relative;
    float: right;
    width: 45%;
    text-align: right;
    img {
      width: 75%;
      min-width: 270px;
    }
  }
  @include media-query(palm) {
    padding: 40px 0px;
    .hero-content {
      float: none;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
      .alpha {
        margin-bottom: 0px;
        @include fontSize(36);
      }
      .subtitle {
        margin-bottom: 30px;
        @include fontSize(25);
      }
      .button {
        margin-top: 0px;
      }
    }
    .hero-image {
      float: none;
      display: block;
      margin: 0 auto;
      // text-align: center;
      width: 90%;
      img {
        width: 90%;
      }
    }
  }
  @include media-query(lap) {
    .hero-content {
      .subtitle {
        @include fontSize(20);
        margin-bottom: 10px;
      }
      .alpha {
        @include fontSize(30);
        padding: 0px 0px 20px 0px;
      }
    }
  }
}
