/*------------------------------------*\
  $ICONS
\*------------------------------------*/


@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?cqqo7j');
  src:url('fonts/icomoon.eot?#iefixcqqo7j') format('embedded-opentype'),
    url('fonts/icomoon.woff?cqqo7j') format('woff'),
    url('fonts/icomoon.ttf?cqqo7j') format('truetype'),
    url('fonts/icomoon.svg?cqqo7j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-place:before {
  content: "\e603";
}

.icon-map:before {
  content: "\e605";
}

.icon-event:before {
  content: "\e606";
}

.icon-web:before {
  content: "\e608";
}

.icon-link:before {
  content: "\e609";
}

.icon-email:before {
  content: "\e60b";
}

.icon-arrow-bottom:before {
  content: "\e60c";
}

.icon-event2:before {
  content: "\e60d";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-feed:before {
  content: "\f143";
}

.icon-arrow-left:before {
  content: "\f177";
}

.icon-arrow-right:before {
  content: "\f178";
}

.icon-google:before {
  content: "\f1a0";
}

.icon-search:before {
  content: "\e601";
}

.icon-tick:before {
  content: "\e600";
}

