/*------------------------------------*\
    $ DETAIL
\*------------------------------------*/

.job-detail {
  padding-bottom: 20px;
  article {
    padding: 20px 0px;
  }
  .main-title {
    margin: 30px 0px;
  }
  h3 {
    margin-bottom: 10px;
  }
  .job-header {
    border-bottom: 1px dashed $terciary;
    line-height: 1.7em;
    @include clearfix();
    .job-logo {
      float: right;
      width: 190px;
      height: auto;
      img {
        min-width: 100%;
      }
    }
    .job-summary {
      float: left;
      width: 50%;
    }
    .date {
      text-transform: uppercase;
      @include fontSize(15);
      &:before {
        content: "\e60d";
        font-family: "icomoon";
        display: inline-block;
        vertical-align: middle;
        @include fontSize(20);
        background: lighten($primary, 80%);
        color: $primary;
        margin: 0px 10px 3px 0px;
        padding: 5px 8px;
        border-radius: 3px;
        border: 1px solid lighten($primary, 75%);
      }
    }
    .company {
      &:before {
        @extend .date:before;
        content:"\e605";
      }
    }
    .place {
      &:before {
        @extend .date:before;
        content:"\e603";
      }
    }
    .url {
      a {
         &:before {
          @extend .date:before;
          content: "\e608";
        }
      }
    }
  }
  .main-title {
    padding-bottom: 10px;
  }
  .job-description, 
  .job-apply, 
  .job-company, 
  .job-headquarters {
    p {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  @include media-query(palm) {
    .job-header {
      .job-logo {
        float: none;
        margin: 0 auto 20px auto;
        display: block;
      }
      .job-summary {
        width: 100%;
      }
    }
    .main-title {
      margin: 10px 0px;
    }
  }
}

/* SHARE BUTTONS */



.share {
  text-align: center;
  padding: 60px 0px;
  color: $primary;
  border-top:  1px dashed $terciary;
  .share-item {
    display: inline-block;
    padding: 20px;
    background: lighten($primary, 80%);
    @include fontSize(18);
    vertical-align: middle;
    &:hover {
      background: lighten($primary, 70%);
    }
    &:first-child {
      margin-right: 10px;
    }
    .icon {
      display: inline-block;
      @include fontSize(24);
      vertical-align: middle;
      height: 100%;
    }
  }
  @include media-query(palm) {
    .share-item {
      display: block;
      width: 100%;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}