/*------------------------------------*\
  $MAIN LIST
\*------------------------------------*/

.main-list {
  @include fontSize(0);
  margin-bottom: 30px;
  li {
    @include fontSize(18);
    background: lighten($greyLight, 2%);
    margin-bottom: 10px;
    border: 1px solid $grey;
    @include clearfix();
    &:hover {
      background: darken($greyLight, 2%);
    }
    .job-main {
      padding: 15px;
      a {
        display: block;
      }
    }
    &.highligted {
      background: #E5EAA4;
      &:hover {
        background: darken(#E5EAA4, 3%);
      }
    }
  }
  .job-details {
    padding: 0px 15px 10px 0px;
    text-align: right;
  }
  .company {
    font-weight: $bold;
    color: $primary;
    max-width: 240px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
  .title {
    @include fontSize(16);
    color: darken($greyDark, 15%);
    font-weight: $medium;
    width: 96%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
  }
  .date {
    @include fontSize(16);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    color: $primary;
    span:before {
      content: "\e60d";
      font-family: "icomoon";
      margin-right: 5px;
      vertical-align: top;
    }
  }
  .city {
    font-weight: $bold;
    display: inline-block;
    color: $primary;
    float: none;
  }
  @include media-query(lap-and-up) {
    .job-main {
      float: left;
      width: 75%;
    }
    .job-details {
      float: left;
      width: 25%;
      height: 100%;
      padding: 15px;
      .city, .date {
        display: block;
        position: relative;
      }
      .date {
        margin-top: 10px;
      }
    }
  }
}
