/*------------------------------------*\
  $MESSAGE
\*------------------------------------*/

.message {
  .alpha {
    text-transform: uppercase;
  }
  .box {
    text-align: center;
    h2 {
      margin: 0px 0px 20px 0px;
      padding: 0px;
      text-transform: normal;
    }
    .button {
      margin-top: 10px;
    }
    p {
      @include fontSize(20);
      margin-bottom: 10px;
    }
  }
}
