/*------------------------------------*\
    $NAV BUTTONS
\*------------------------------------*/

.nav-buttons {
  border-top: 1px dashed lighten($terciary, 20%);
  padding: 30px 0px;
  @include fontSize(0);
  color: $primary;
  .icon {
    vertical-align: middle;
    @include fontSize(20);
    padding: 0px 10px;
  }
  .nav-back {
    @extend .simple-link;
    @include fontSize(16);
    width: 48%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    .text {
      vertical-align: middle;
    }
    &:hover {
      color: lighten($primary, 10%);
    }
  }
  .nav-next {
    width: 50%;
    @extend .nav-back;
    text-align: right;
    .icon {
      float: right;
      padding: 0px 0px 0px 10px;
    }
  }
  @include media-query(palm) {
    .icon {
      display: inline-block;
      @include fontSize(30);
      padding: 0px;
    }
    .text {
      display: block;
    }
    .nav-next {
      .icon {
        float: none;
      }
    }
  }
}