/*------------------------------------*\
  $NEW JOB
\*------------------------------------*/

.new-job {
  .alpha {
    text-transform: uppercase;
  }
  .box {
    h2 {
      padding: 0px;
    }
  }
}
