/*------------------------------------*\
  $PAGINATION
\*------------------------------------*/

.pagination {
  @include clearfix();
  text-align: center;
  margin: 60px 0px 40px 0px;
  .pag-item {
    color: $primary;
    background: #f1f1f1;
    width: 40px;
    height: 40px;
    @include border-radius(5px);
    display: inline-block;
    line-height: 40px;
    text-align: center;
    &.is-active {
      color: #fff;
      background: $secondary;
      border: 1px solid $secondary;
    }
    &:hover {
      color: $secondary;
    }
  }
}
