/*------------------------------------*\
  $STEPS
\*------------------------------------*/

.steps {
  padding: 30px 0px 60px 0px;
  .steps-list {
    @include clearfix();
    .circle-wrap {
      position: relative;
      text-align: center;
      &:after, &:before {
        width: 100%;
        content: "";
        height: 5px;
        position: absolute;
        right: 0px;
        @include vertical-align(absolute);
        background: $secondary;
        z-index: 1;
      }
      &:before {
        left: 0px;
      }
      &:after {
        right: 0px;
      }
    }
    .circle {
      width: 70px;
      height: 70px;
      border: 5px solid $secondary;
      border-radius: 50%;
      color: $secondary;
      background: #fff;
      @include fontSize(30);
      position: relative;
      display: inline-block;
      z-index: 10;
      span {
        @include centered(absolute);
      }
    }
    li {
      width: 33.3%;
      float: left;
      position: relative;
      text-align: center;
      span {
        font-family: $fontSecondary;
      }
      &.is-current {
        .circle {
          background: lighten($secondary, 5%);
          color: #fff;
          span {
            display: none;
          }
          &:before {
            content: "\e603";
            font-family: "icomoon";
            @include centered(absolute);
          }
        }
      }
      &.is-complete {
        .circle {
          background: lighten($secondary, 5%);
          color: #fff;
          span {
            display: none;
          }
          &:before {
            content: "\e600";
            font-family: "icomoon";
            @include centered(absolute);
          }
        }
      }
      .text {
        color: $primary;
        margin-top: 10px;
      }
    }
  }
  @include media-query(palm) {
    .steps-list {
      li {
        @include fontSize(12);
        &:before {
          width: 60px;
          height: 60px;
          line-height: 60px;
        }
        .number {
          display: block;
        }
      }
    }
  }
}
