/*------------------------------------*\
  $STICKY FOOTER
\*------------------------------------*/

.content {
  min-height: 100%;
  margin-bottom: -139px;
}

footer,
.push-footer {
  height: 139px;
  @include media-query(palm) {
    height: 170px;
  }
}
