/*------------------------------------*\
  $SUBSCRIBE
\*------------------------------------*/

.subscribe {
  padding: 50px 0px;
  background: $terciary;
  text-align: center;
  &.mt {
    margin-top: 40px;
  }
  h2 {
    margin-top: 0px;
    padding-top: 0px;
  }
  p {
    @include fontSize(20);
    font-weight: 100;
    width: 65%;
    margin: 0 auto;
    // color: #fff;
  }
  @include media-query(palm) {
    p {
      width: 100%;
    }
  }
  @include media-query(lap) {
    p {
      width: 100%;
    }
  }
}
