
@import "compass";

// GLOBALS

@import "globals/settings";
@import "globals/mixins";

// OBJECTS
// @import "objects/icons";




body.fixed{
	padding: 68px 0 0;
}

/*------------------------------------*\
		$PATTERN-HEADER
\*------------------------------------*/

.pattern-index-page{
	padding: 40px 0;
	h1{
		font-size: 34px;
		margin-bottom: 30px;
	}

	.index_page_group{
		border: 2px solid #E1E1E1;
		margin-bottom: 30px;
		h2{
			background: #EFEFEF;
			border-bottom: 2px solid #E1E1E1;
			color: #747474;
			font-size: 26px;
			padding: 12px;
		}
		li a{
			display: block;
			padding: 18px;
			font-size: 18px;
			font-weight: bold;
			border-bottom: 1px solid #E1E1E1;
			small{
				display: block;
				margin-top: 8px;
				font-size: 15px;
				font-weight: normal;
			}
			&:hover{
				background: #f1f1f1;
			}
		}
	}

}

/*------------------------------------*\
		$PATTERN-HEADER
\*------------------------------------*/

.pattern-header{
	background: #fff;
	background: rgba(255, 255, 255, .9);
	border-bottom: 4px solid #e8e8e8;
	overflow: hidden;
	.logo-pattern{
		display: block;
		float: left;
		max-height: 40px;
		width: auto;
		margin: 10px 20px;
	}
	.icon-menu-pattern{
		display: block;
		float: right;
		margin: 18px;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;

		span {
			color: $primary;
			@include fontSize(30);
		}
	}
	.fixed &{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}

/*------------------------------------*\
		$PATTERN-FOOTER
\*------------------------------------*/

.pattern-footer{
	padding: 24px;
	text-align: center;
	border-top: 2px solid #e8e8e8;
}

/*------------------------------------*\
		$PATTERN-CONTAINER
\*------------------------------------*/

.pattern-container{
	width: 94%;
	margin: 0 auto;
	padding: 30px 0;
}

/*------------------------------------*\
		$PATTERN TITLES
\*------------------------------------*/

.pattern-title{
	display: block;
	font-size: 36px;
	font-weight: bold;
	padding: 20px 0;
	color: #212121;
}

.pattern-subtitle{
	display: block;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #747474;
}
.pattern-text{
	font-size: 17px;
	line-height: 1.5;
	margin-bottom: 28px;
}

/*------------------------------------*\
		$PATTERN-COLOR
\*------------------------------------*/

.pattern-color-wrapper{
	overflow: hidden;
	margin-bottom: 40px;
}

.pattern-color{
	border: 2px solid #e1e1e1;
	border-radius: 6px;
	overflow: hidden;
	width: 240px;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 20px;
	.color-bg{
		width: 100%;
		height: 80px;
	}
	.color-descripcion{
		padding: 14px;
		p + p{
			margin-top: 8px;
		}
	}
}
/*------------------------------------*\
		$PATTERN-COLOR
\*------------------------------------*/

.pattern-icon-wrapper{
	overflow: hidden;
	margin-bottom: 40px;
	p{
		margin: 14px 0;
		font-size: 20px;
		span{
			vertical-align: middle;
		}
		.icon{
			font-size: 40px;
			margin-right: 12px;
		}
	}
}

/*------------------------------------*\
		$PATTERN-SLAB
\*------------------------------------*/

.pattern-slab-wrapper{
	overflow: hidden;
	padding: 40px 20px;
	margin-bottom: 40px;
}

/*------------------------------------*\
		$PATTERN-TYPOGRAPHY
\*------------------------------------*/

.pattern-typography{
	font-size: 20px;
	p{
		margin-bottom: 24px;
	}
}

/*------------------------------------*\
		$PATTERN-HEADINGS
\*------------------------------------*/

.pattern-headings{
	.pattern-row + .pattern-row{
		margin-top: 24px;
	}
}

/*------------------------------------*\
		$PATTERN-GRID
\*------------------------------------*/

.pattern-grid{
	.g{
		margin-bottom: 20px;
	}
	.gi{
		background: #eeeeee;
		border: 1px solid #cccccc;
		height: 40px;
		text-align: center;
		line-height: 40px;
	}
}

/*------------------------------------*\
		$PATTERN
\*------------------------------------*/

.pattern{
	border: 2px solid #e1e1e1;
	border-radius: 6px;
	margin-bottom: 60px;
	.pattern-description{
		background: #efefef;
		border-bottom: 2px solid #e1e1e1;
		padding: 20px;
		font-size: 18px;
		color: #343436;
		strong{
			color: #111113;
		}
		p + p{
			margin-top: 10px;
		}
	}
	.pattern-content{
		padding: 20px;
		&:after{
			clear: both;
			content: '';
			display: table;
		}
	}
}

























