!!! 5
%html{:class => "no-js"}
  %head
    %meta{:charset => "utf-8"}

    %meta{:content => "width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %link{rel:'stylesheet', href:'http://fonts.googleapis.com/css?family=Righteous' ,type:'text/css'}/

    %title= @title

    = stylesheet_link_tag "styles"

  %body{:class => "#{@bodyclass}"}
    = yield


    = javascript_include_tag  "lib/jquery-1.9.1.min", "scripts"