/*------------------------------------*\
    $BASE
\*------------------------------------*/


/* Tipos */

@include font-face('proxima-nova', 'proximanova-light-webfont', 300);
@include font-face('proxima-nova', 'proximanova-regular-webfont', 500);

@include font-face('icomoon', 'icomoon');


/* Global */

html{
  font-size: $document-font-size;
  overflow-x: hidden;
}

/* Sticky footer */

* {
  margin: 0px;
}

html,
body {
  height: 100%;
}

body{
  background: $baseBg;
  color: $text;
  font-family: $font;
  font-size: 100%;
  line-height: $base-lineHeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

section, p, article, img {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

/* Block Content */

h1,h2,h2,h3,h4,h6{
}

/* Inline Content */

a{
  color: $primary;
  text-decoration: none;
  &:hover {
    color: lighten($primary, 10%);
  }
}

a:focus{
  outline: none;
}

p a{
  color: $primary;
}

/*------------------------------------*\
    js-sensor
    -> Relocate html in responsive
\*------------------------------------*/

.js-sensor {
  display: none;
  margin-left: 0px;
}

@include media-query(lap) {
  .js-sensor {
    margin-left: 1px;
  }
}

@include media-query(desk) {
  .js-sensor {
    margin-left: 2px;
  }
}

