/*------------------------------------*\
    $FORMS
\*------------------------------------*/

form {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button,
input,
textarea{
  // -webkit-appearance: none;
  @include border-radius(0);
}

button[disabled],
input[disabled] {
  cursor: default;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}
button{
  border: none;
  background: none;
}

::-webkit-input-placeholder {
   color: $greyDark;
}

::-moz-placeholder {
  color: $greyDark;
}

:-ms-input-placeholder {
  color: $greyDark;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

.main-form {
  position: relative;
  max-width: 650px;
  width: 70%;
  margin: 35px auto 0px;
  input {
    width: 100%;
    padding: 15px 150px 15px 15px;
    border: 1px solid $terciary;
    outline: 0px;
    @include fontSize(18);
    border-radius: 3px;
  }
  .button {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    min-height: 100%;
    cursor: pointer;
    outline: none;
    span {
      @include centered(absolute);
    }
  }
  @include media-query(palm) {
    width: 100%;
    min-width: none;
    input {
      padding-right: 125px;
    }
    .button {
      @include fontSize(11);
    }
  }
  @include media-query(lap) {
    width: 100%;
  }
}

.new-job-form {
  @include clearfix();
  .form-group {
    margin-bottom: 20px;
    ::-webkit-input-placeholder {
       color: darken($terciary, 10%);
       opacity: 1;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: darken($terciary, 10%);
       opacity: 1;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: darken($terciary, 10%);
       opacity: 1;  
    }
    :-ms-input-placeholder {  
       color: darken($terciary, 10%);
       opacity: 1;
    }
    .message {
      visibility:hidden;
      color: $secondary;
      @include fontSize(12);
    }
    &.invalid {
      input {
        border: 1px solid $secondary;
      }
      .message {
        visibility: visible;
      }
    }
  }
  input[type="submit"] {
    @extend .button;
    background: $secondary;
    color: #fff;
    width: 200px;
    float: right;
    border: none;
  }
  .main-label {
    font-family: $fontSecondary;
    color: $primary;
    display: block;
    margin-bottom: 10px;
  }
  input[type="text"], textarea {
    border: none;
    display: block;
    border: 1px solid darken($terciary, 10%);
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background: lighten($terciary, 10%);
    color: $terciary;
  }
  input[type="file"] {
    border: none;
    background: none;
  }
  .radio-group {
    margin-bottom: 10px;
    label, input {
      display: inline-block;
    }
    input {
      width: 50px;
    }
    label {
      min-width: 150px;
      color: $primary;
    }
    .radio-row {
      padding-bottom: 5px;
    }
  }
  .highlighted {
    background: #E5EAA4;
    padding: 10px;
    input {
      float: left;
      width: 20px;
      margin: 3px 10px 0 0;
      border: 1px solid darken(#E5EAA4, 20%);
    }
    label {
      display: inline-block;
    }
  }
  button {
    float: right;
    margin-top: 20px;
  }
  @include media-query(palm) {
    padding: 15px;
    .radio-group {
      label {
        width: 60%;
        min-width: 100px;
      }
      input {
        width: 37%;
      }
    }
    input[type="submit"] {
      width: 100%;
    }
     .highlighted {
        label {
          width: 75%;
        }
     }
  }
}
