
/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h1, .alpha {
  @include fontSize(40);
  font-family: $fontSecondary;
  padding: 30px 0px;
  color: $primary;
  text-transform: uppercase;
}

h2, .main-title {
  @include fontSize(20);
  text-transform: uppercase;
  color: $primary;
  padding: 20px 0px;
  font-family: $fontSecondary;
}
h3, .gamma {
  @include fontSize(18);
  color: $primary;
  font-family: $fontSecondary;
}

// h4, .delta {
//   @include fontSize($font_size_delta);
// }
// h5, .epsilon {
//   @include fontSize($font_size_epsilon);
// }
// h6, .zeta {
//   @include fontSize($font_size_zeta);
// }

// .giga {
//   @include fontSize($font_size_giga);
// }
// .mega {
//   @include fontSize($font_size_mega);
// }
// .kilo {
//   @include fontSize($font_size_kilo);
// }

@include media-query(lap-and-up) {
  h1, .alpha {
    @include fontSize(36);
  }
  h2, .main-title {
    @include fontSize(24);
  }
  h3, .gamma {
    @include fontSize(20);
  }
}
