
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

.wrapper{
  width: 80%;
  max-width: $l-maxWidth;
  margin: 0 auto;
}

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

/* Grid Container */
.g {
  letter-spacing: -0.35em;
  > *{
    letter-spacing: normal;
  }
}

/* Grid Item */
.gi {
  letter-spacing: normal;

  @include media-query(lap-and-up){
    display: inline-block;
    vertical-align: top;
  }
}

.hidden{
  display: none !important;
}
