
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// -------------------------------------
//   Colors
// -------------------------------------


$baseBg: #fff;
$text: #878787;
// $textDark
// $textLight

$primary: lighten(#0E2430, 5%);
// $primaryMedium
// $primaryLight

$secondary: #A50000;
$terciary: lighten($primary, 76%);
// $terciary: rgba(146,177,173, .7);
// $terciary: #FCB653;
// $secondaryDark
// $secondaryLight


$grey: #eee;
$greyLight: #f5f5f5;
$greyMedium: #dfdfdf;
$greyDark: darken($grey, 20%);


// -------------------------------------
//   Fonts
// -------------------------------------

 $font:"proxima-nova", sans-serif;
 $fontSecondary: 'Righteous', cursive;
 $base-lineHeight: normal;

$font-base: 16;
$document-font-size: ($font-base / 16) * 100%;

$light: 300;
$medium: 500;
$bold: 700;
// $black: 900;

// Extended font sizes

// $font_size_zeta         : 14;     // h6
// $font_size_epsilon      : 16;     // h5
// $font_size_delta        : 18;     // h4
// $font_size_gamma        : 20;     // h3
// $font_size_beta         : 24;     // h2
// $font_size_alpha        : 28;     // h1

// $font_size_kilo         : 30;     // extra-large
// $font_size_mega         : 38;     // extra-Xlarge
// $font_size_giga         : 46;     // jumbotronik



// -------------------------------------
//   Layout
// -------------------------------------

//$l-maxWidth: em(1200px);
$l-maxWidth: 1024px;

$base-whitespace: 20px;

// -------------------------------------
//   Breakpoints
// -------------------------------------

// palm: for handheld devices
// lap: for tablets and netbooks and the like
// portable: for both of the above
// desk: for anything big enough to be deemed stationary

$palm-start: 400;
$lap-start: 700;
$desk-start: 1020;
$desk-wide-start: 1140;

$palm-end: $lap-start - 0.01;
$lap-end:  $desk-start - 0.01;



