---
title: footer
page_group: partials
---

/= partial 'layouts/partials/footer'

%footer.main-footer
  .wrapper
    .social-icons
      %a{href:"#"}
        %span.icon.icon-facebook
      %a{href:"#"}
        %span.icon.icon-twitter
      %a{href:"#"}
        %span.icon.icon-google
    .footer-info
      %a.feed{href: "#"}
        %span.icon.icon-feed
        Subscríbete al feed global
      %a.contact{href:"mailto:info@trabajosjavascript.com"} info@trabajosjavascript.com
      %p.copy Trabajos Javascript &copy Redradix 2015

