---
title: header
page_group: partials
---

/= partial 'layouts/partials/header'

%header.main-header
  .wrapper
    .logo
      %a{href:"#"} Javascript Jobs
    %form.search-form{action:"#"}
      .search-group
        %span.icon.icon-search
        %input{type:"text", placeholder: "Search: css javascript.."}/
  