---
title: pagination
page_group: partials
---

%section.pagination
  %a.pag-item.is-active{:href => "#"} 1
  %a.pag-item{:href => "#"} 2
  %a.pag-item{:href => "#"} 3
  %a.pag-item{:href => "#"} 4
  %b.pag-spacer ...
  %a.pag-item{:href => "#"} 15