---
title: subscribe
page_group: partials
---

%section.subscribe
  .wrapper 
    %h2 Ofertas para desarrolladores Javascript
    %p Suscríbete a nuestra lista de correo y te mandaremos  las ofertas y los artículos por email.
    %form.main-form{action:"#"}
      .form-group
        %input{type:"text" , placeholder:"pepe@gmail.com"}/
        %button.button.button-primary Suscribirme!