---
title: All jobs
page_group: pages
---

= partial 'layouts/partials/header'

%section.main-content
  = partial 'layouts/partials/subscribe'
  .wrapper
    %article.jobs
      %h2.main-title Programming jobs
      %ul.main-list
        %li
          .job-main
            %a{href: "#"} 
              %span.company Apple
              %span.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempore, quas illum quaerat nam ipsam! Sed adipisci quod labore, doloremque si odio, eveniet, tempora aperiam vel est culpa voluptate distinctio!
          .job-details
            .city 
              %span Barcelona
            .date 
              %span 20 mar
        %li.highligted
          .job-main
            %a{href: "#"} 
              %span.company Apple
              %span.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempore, quas illum quaerat nam ipsam! Sed adipisci quod labore, doloremque si odio, eveniet, tempora aperiam vel est culpa voluptate distinctio!
          .job-details
            .city 
              %span Cuenca
            .date 
              %span 15 abril
        %li
          .job-main
            %a{href: "#"} 
              %span.company Apple
              %span.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempore, quas illum quaerat nam ipsam! Sed adipisci quod labore, doloremque si odio, eveniet, tempora aperiam vel est culpa voluptate distinctio!
          .job-details
            .city 
              %span Barcelona
            .date 
              %span 15 abril
        %li
          .job-main
            %a{href: "#"} 
              %span.company Apple
              %span.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempore, quas illum quaerat nam ipsam! Sed adipisci quod labore, doloremque si odio, eveniet, tempora aperiam vel est culpa voluptate distinctio!
          .job-details
            .city 
              %span Madrid
            .date 
              %span 15 abril
        %li
          .job-main
            %a{href: "#"} 
              %span.company Apple
              %span.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempore, quas illum quaerat nam ipsam! Sed adipisci quod labore, doloremque si odio, eveniet, tempora aperiam vel est culpa voluptate distinctio!
          .job-details
            .city 
              %span Barcelona
            .date 
              %span 15 abril
    %article.jobs
      %h2.main-title Design jobs
      %ul.main-list
        %li
          .job-main
            %a{href: "#"} 
              %span.company Apple
              %span.title Senior javascript developer.
          .job-details
            .city 
              %span Madrid
            .date 
              %span 15 abril
        %li
          .job-main
            %a{href: "#"} 
              %span.company Apple
              %span.title Senior javascript developer.
          .job-details
            .city 
              %span Barcelona
            .date 
              %span 15 abril
        %li
          .job-main
            %a{href: "#"} 
              %span.company Apple
              %span.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempore, quas illum quaerat nam ipsam! Sed adipisci quod labore, doloremque si odio, eveniet, tempora aperiam vel est culpa voluptate distinctio!
          .job-details
            .city 
              %span Barcelona
            .date 
              %span 15 abril
        %li
          .job-main
            %a{href: "#"} 
              %span.company Apple
              %span.title Senior javascript developer.
          .job-details
            .city 
              %span Barcelona
            .date 
              %span 15 abril
        %li
          .job-main
            %a{href: "#"} 
              %span.company Apple
              %span.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tempore, quas illum quaerat nam ipsam! Sed adipisci quod labore, doloremque si odio, eveniet, tempora aperiam vel est culpa voluptate distinctio!
          .job-details
            .city 
              %span Valencia
            .date 
              %span 15 abril
  = partial 'layouts/partials/pagination'
= partial 'layouts/partials/footer'