---
title: Confirmation message
page_group: pages
---

= partial 'layouts/partials/header'

%section.message
  .wrapper
    %h1.alpha Publica un trabajo
    .steps
      %ul.steps-list
        %li.is-complete
          .circle-wrap
            .circle
              %span 1
          .text
            %span.number 1 &#8226; 
            %span Crea tu anuncio
        %li.is-complete
          .circle-wrap
            .circle
              %span 2
          .text
            %span.number 2 &#8226; 
            %span Previsualizar
        %li.is-complete
          .circle-wrap
            .circle
              %span 3
          .text
            %span.number 3 &#8226; 
            %span Pagar y publicar
    .box
      %p Enhorabuena!
      %p Has publicado tu trabajo correctamente
      %a.button.button-primary{href:"#"} 
        %span.icon.icon-arrow-left
        %span Volver al listado de trabajos