---
title: Detail
page_group: pages
---

.content
  = partial 'layouts/partials/header'
  .main-content
    .wrapper
      %section.job-detail
        %h2.main-title Senior Ruby on Rails developer
        %article.job-header
          .job-logo
            %img{src:"assets/images/logo1.png", alt: "logo"}/
          .job-summary
            .date Posted Jan 15
            .company Diagnotes
            .place Headquarters: Indianapolis, IN
            .url
              %a{href:"#"} http://www.diagnotes.com
        %article.job-description
          %h3 Description
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occae
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        %article.job-apply
          %h3 How to apply
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %article.job-company
          %h3 Company
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        %article.job-headquarters
          %h3 Headquarters
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      %aside.share
        %a.share-item{href:"#"}
          %span.icon.icon-email
          %span.text Tell a friend
        %a.share-item{href:"#"}
          %span.icon.icon-twitter
          %span.text Tweet this job
      %section.button-group
        %a.button.button-primary{href:"#"}
          %span.icon.icon-arrow-left
          %span.text Back to all jobs
        %a.button.button-secondary{href:"#"}
          %span.text See more jobs
          %span.icon.icon-arrow-right
  .push-footer
= partial 'layouts/partials/footer'
