// patterns styles
= stylesheet_link_tag "patterns"

.pattern-index-page.wrapper
  %h1 All Pages

  - get_index_files.each do |title, pages|
    %article.index_page_group
      %h2=title.capitalize
      =page_list pages