---
title: New job
page_group: pages
---

= partial 'layouts/partials/header'

%section.new-job
  .wrapper
    %h1.alpha Publica un trabajo
    .steps
      %ul.steps-list
        %li.is-complete
          .circle-wrap
            .circle
              %span 1
          .text
            %span.number 1 &#8226; 
            %span Crea tu anuncio
        %li.is-current
          .circle-wrap
            .circle
              %span 2
          .text
            %span.number 2 &#8226; 
            %span Previsualizar
        %li
          .circle-wrap
            .circle
              %span 3
          .text
            %span.number 3 &#8226; 
            %span Pagar y publicar
    %form.new-job-form.box{action:"#"}
      .form-group
        %label.main-label{for:"inputtext01"} Título
        %input{type:"text", placeholder: "ejemplo: desarrollador senior javascript", name:"inputtext01"}/
        %span.message Campo inválido
      .form-group
        %label.main-label{for: "textarea01"} Descripción
        %textarea{name: "textarea01"}
        %span.message Campo inválido
      .form-group
        %label.main-label{for: "inputtext02"} Cómo aplicar
        %input{type:"text", placeholder: "ejemplo: desarrollador senior javascript", name:"inputtext02"}/
        %span.message Campo inválido
      .radio-group
        %label.main-label{for: "#"} Situación
        .radio-group
          .radio-row
            %label{for: "radio1"} Desde casa
            %input{type:"radio", name:"radio", id:"radio1"}/
          .radio-row
            %label{for: "radio2"} Presencial
            %input{type:"radio", name:"radio", id:"radio2"}/
          .radio-row
            %label{for: "radio3"} Ambos
            %input{type:"radio", name:"radio", id:"radio3"}/
      .form-group
        %label.main-label{for:"#"} Tipo de jornada
        .radio-group
          .radio-row
            %label{for: "radio4"} media jornada
            %input{type:"radio", name:"radio1", id:"radio4"}/
          .radio-row
            %label{for: "radio5"} jornada completa
            %input{type:"radio", name:"radio1", id:"radio5"}/
      .form-group.invalid
        %label.main-label{for: "inputtext03"} Oficinas
        %input{type:"text", placeholder: "ejemplo: Madrid", name:"inputtext03"}/
        %span.message Campo inválido
      .form-group
        %label.main-label{for:"inputtext04"} Nombre de la empresa
        %input{type:"text", placeholder: "ejemplo: Madrid", name:"inputtext04"}/
        %span.message Campo inválido
      .form-group
        %label.main-label{for:"inputtext05"} Web de la empresa
        %input{type:"text", placeholder: "ejemplo: Madrid", name:"inputtext05"}/
        %span.message Campo inválido
      .form-group
        %label.main-label{for:"inputtext06"} Logo de la empresa
        %input{type:"file", name:"inputtext06"}/
      .form-group
        .check-group.highlighted
          %label{for: "check1"} Haz tu oferta más visible por 25 € más
          %input{type:"checkbox", name:"check", id:"check1"}/
      %input{type:"submit", value:"crear una oferta"}/
    .push-footer
  = partial 'layouts/partials/footer'