---
title: Styles
page_group: Styles
---

// patterns styles
= stylesheet_link_tag "patterns"


%header.pattern-header
  %a.icon-menu-pattern{href: '#'}
    %span.icon-logo


////////////////// COLORS

.pattern-container#patterncolors
  %h2.pattern-title Colors

  %h3.pattern-subtitle &rarr; Primary Colors

  .pattern-color-wrapper
    .pattern-color
      .color-bg{style: 'background: #A50000'}
      .color-descripcion
        %p
          %strong #A50000
        %p $primary

  %h3.pattern-subtitle &rarr; Secondary Colors

  .pattern-color-wrapper
    .pattern-color
      .color-bg{style: 'background: #023763'}
      .color-descripcion
        %p
          %strong #023763
        %p $secondary

  .pattern-color-wrapper
    .pattern-color
      .color-bg{style: 'background: #9c9d9d'}
      .color-descripcion
        %p
          %strong #9c9d9d
        %p $grey

    .pattern-color
      .color-bg{style: 'background: #727272'}
      .color-descripcion
        %p
          %strong #727272
        %p $greyMedium

    .pattern-color
      .color-bg{style: 'background: #e8e8e8'}
      .color-descripcion
        %p
          %strong #e8e8e8
        %p $greyLight
    .pattern-color
      .color-bg{style: 'background: #434343'}
      .color-descripcion
        %p
          %strong #434343
        %p $greyDark



////////////////// FONTS

.pattern-container#patterntypography
  %h2.pattern-title Typography
  .pattern.pattern-typography
    .pattern-content
      %p{style: 'font-weight: normal; font-family: $font;'} Proxima Nova

////////////////// HEADINGS

.pattern-container#patterntypography
  %h2.pattern-title Headings
  .pattern.pattern-typography
    .pattern-content
      %h1.alpha Heading alpha
      %h2.beta Heading Beta
      %h3.gamma Heading gamma


////////////////// ICONS

.pattern-container#patternicons
  %h2.pattern-title Icons

  .pattern-icon-wrapper
    %p
      %span.icon.icon-twitter
      %span icon-twitter
    %p
      %span.icon.icon-facebook
      %span icon-facebook
    %p
      %span.icon.icon-google
      %span icon-google
    %p
      %span.icon.icon-arrow-left
      %span icon-arrow-left
    %p
      %span.icon.icon-arrow-right
      %span icon-arrow-right
    %p
      %span.icon.icon-feed
      %span icon-feed
    %p
      %span.icon.icon-bottom
      %span icon-bottom
    %p
      %span.icon.icon-email
      %span icon-email

.pattern-container
  %h2.pattern-title Buttons
  .pattern
    .pattern-description
      %p
        %strong.title Pattern:
        Button
      %p
        %strong.title Class:
        "button"

    .pattern-content
      %a.button{href: '#'}
        %span Download
