---
title: Preview
page_group: pages
---

.content
  = partial 'layouts/partials/header'
  %section.new-job
    .wrapper
      %h1.alpha Publica un trabajo
      .steps
        %ul.steps-list
          %li.is-complete
            .circle-wrap
              .circle
                %span 1
            .text
              %span.number 1 &#8226; 
              %span Crea tu anuncio
          %li.is-current
            .circle-wrap
              .circle
                %span 2
            .text
              %span.number 2 &#8226; 
              %span Previsualizar
          %li
            .circle-wrap
              .circle
                %span 3
            .text
              %span.number 3 &#8226; 
              %span Pagar y publicar
      %section.job-detail.box
        %h2.main-title Senior Ruby on Rails developer
        %article.job-header
          .job-logo
            %img{src:"assets/images/logo1.png", alt: "logo"}/
          .job-summary
            .date Posted Jan 15
            .company Diagnotes
            .place Headquarters: Indianapolis, IN
            .url
              %a{href:"#"} http://www.diagnotes.com
        %article.job-description
          %h3 Description
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %article.job-apply
          %h3 How to apply
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %article.job-company
          %h3 Company
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        %article.job-headquarters
          %h3 Headquarters
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .button-group
        %a.button.button-secondary.next{href:"#"} 
          %span Pagar y pulicar
          %span.icon.icon-arrow-right
        %a.button.button-primary.prev{href:"#"} 
          %span.icon.icon-arrow-left
          %span.text Volver y editar 
  .push-footer
= partial 'layouts/partials/footer'
